<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791458747265-2mhiishttt2qs4g9gn204al08ejfjpa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791458747265-2mhiishttt2qs4g9gn204al08ejfjpa6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>791458747265-5pk208luv8meptahacjlesmu2mbgivvd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzjlPDYI-uTJxdsfS6g_z79TO6v3q-6Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>791458747265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyunstargram</string>
	<key>PROJECT_ID</key>
	<string>hyunstargram-8b0c2</string>
	<key>STORAGE_BUCKET</key>
	<string>hyunstargram-8b0c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791458747265:ios:66b0e5a792c85eb5e48e80</string>
	<key>DATABASE_URL</key>
	<string>https://hyunstargram-8b0c2.firebaseio.com</string>
</dict>
</plist>